<div id="footer">
    <div class="container">

        <header>
            <h2>Contact info</h2></header>
        <p>Developed by FilipeCN and RNakanishi.</p>

        <ul class="contact">
            {% for member in site.data.members %}
                <li class="icon"><a class="icon fa-github" target="blank" href="https://github.com/{{ member[1].github }}"><span>Github {{member[1].github}}</span></a>
                    <p>{{member[1].github}}</p>
                </li>
            {%endfor%}
            <!-- <li><a class="icon fa-envelope" ><span>Email</span></a></li> -->
        </ul>
    </div>
    <div id="copyright"> © FilipeCN and RNakanishi. All rights reserved. </div>
</div>
