<div id="footer-wrapper" class="wrapper">
    <section id="footer">
        <header>
            <h2>Contact info</h2></header>
        <p>Developed by FilipeCN and RNakanishi.</p>
        <ul class="contact">
            <li class="icon"><a class="icon fa-github" target="blank" href="https://github.com/{{ site.github_filipe }}"><span>Github FilipeCN</span></a><p>{{site.github_filipe}}</p></li>
            <li class="icon"><a class="icon fa-github" target="blank" href="https://github.com/{{ site.github_rnaka }}"><span>Github RNakanishi</span></a><p>{{site.github_rnaka}}</p></li>
            <!-- <li><a class="icon fa-envelope" ><span>Email</span></a></li> -->
        </ul>
    </section>
    <div id="copyright"> © FilipeCN and RNakanishi. All rights reserved. </div>
</div>
