
<div id="header-wrapper" class="wrapper">
    <div id="header">
        <a id="logo">
            <span class="pennant"><span class="icon fa-camera">
            </span></span>
            <h1>{{ site.title }}</h1>
        </a>
        <nav id="nav">
            <ul>
                <li><a href="{{site.baseurl}}/index.html">Home</a></li>
                <li class="dropdown"><a href="{{site.baseurl}}/index.html">Dropdown</a>
                    <div class="dropdown-content">
                        <ul>
                            <li><a>Lorem ipsum dolor</a></li>
                            <li><a>Phasellus consequat</a></li>
                            <li><a>Magna phasellus</a></li>
                            <li><a>Etiam dolore nisl</a></li>
                            <li><a>Veroeros feugiat</a></li>
                        </ul>
                    </div>
                </li>
                <!-- <li><a href="{{site.baseurl}}/index.html">Portfolio</a></li> -->
                <li><a href="{{site.baseurl}}/about.html">About</a></li>
            </ul>
        </nav>
    </div>
</div>
