/*********************************************************************************/


/* Fonts                                                                        */


/*********************************************************************************/

@import url('https://fonts.googleapis.com/css?family=Vidaloka');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/*********************************************************************************/


/* Header                                                                        */


/*********************************************************************************/

#banner-header {
    position: static;
    padding: 2em 0 2em 0;
    text-align: center;
}

#banner-header:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#homepage-banner {
    position: relative;
    /*background: url(../images/header.png) no-repeat bottom center;*/
    padding-bottom: 1px;
    padding: 3em 7em 0 7em;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

#homepage-banner::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#homepage-banner h2 {
    margin-bottom: 1.5em;
    font-size: 1.5em;
}

#homepage-banner p {
    font-size: 1.1em;
    margin: 0;
}


/*********************************************************************************/


/* Common                                                                          */


/*********************************************************************************/

#banner-common #voronoi-graph {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 215px;
}

#banner-common {
    display: block;
    padding: 200px 0 0 0;
    position: relative;
    padding-bottom: 1em;
    /*overflow: hidden;*/
    text-decoration: none;
    text-align: left;
}

#common {
    overflow: hidden;
    display: table;
}

#common {
    display: table-cell;
}

#common a {
    text-decoration: none;
}

#common h1 {
    display: inline;
    color: #000;
    font-size: 2.75em;
    margin-bottom: 2em;
    vertical-align: middle;
    line-height: normal;
}

#common section {
    display: inline;
    width: 50%;
}

#common nav {
    display: inline-block;
    width: 50%;
    height: 160px;
}

#common img {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    /*text-align: center;*/
}

#common .row{
    display: table-cell;
}

#common .navbar {
    display: table-cell;
    width: 50%;
    background-color: #d9e;
    min-width: 800px;
}

#common .nav {
    position: absolute;
    padding: 5em 3em 1em 3em;
    padding-bottom: 1em;
    background-color: #FFF;
    display: block;
    top: 0;
    left: 50%;
    width: 100%;
    text-align: right;
    right: 10;
    /*top: 0.5em;*/
    cursor: default;
    width: 50%;
}

#common .pennant {
    z-index: 1;
    display: block;
    width: 50%;
    /*margin: auto;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    padding: 0 0 0 7em;
    height: 160px;
    background-color: #FFF;
}

/*********************************************************************************/


/* Main                                                                          */


/*********************************************************************************/

#page{
    width: 100%;
    background: #fff;
    z-index: 1;
}

#main::before {
    top: 0;
}

#main {
    width: 1000px;
    margin: auto;
    position: relative;
    display: table;
    background: #fff;
    line-height: 1.5em;
    padding-top: 2em;
}

#main .container {
    width: 800px;
    margin: auto;
}

#main h1 {
    /*padding-top: 1em;*/
    /*padding-bottom: 0.25em;*/
    color: #333;
    font-weight: 300;
    line-height: 1em;
    font-size: 2.5em;
}

#main h2 {
    font-family: "Raleway", sans-serif;
    color: #333;
    font-weight: 100;
    font-size: 1.5em;
    text-align: justify;
    margin-top: 1em;
}

#main h2.big {
    font-style: italic;
    line-height: 1.5em;
    font-size: 200%;
}

#main a {
    color: inherit;
    text-decoration: none;
}

#main a:hover {
    color: inherit;
    text-decoration: underline;
}

#main h3 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-align: justify;
    /*color: #333;*/
}

#main p {
    text-align: justify;
}

.date {
    display: inline;
    color: #aaa;
}


/*********************************************************************************/


/* Main left                                                                           */


/*********************************************************************************/

#main .row {
    display: table-row;
}

#main .sidebar-right .left-content {
    display: table-cell;
    text-align: justify;
    margin-right: 1em;
    padding-right: 1em;
    /*position: relative;*/
    /*float: left;*/
    width: 75%;
}

#main .sidebar-right .right-content {
    display: table-cell;
    margin-left: 1em;
    padding-left: 1em;
    text-align: justify;
    overflow: hidden;
    border-left: 1px dashed;
    color: inherit;
    /*text-align: right;*/
    /*position: relative;*/
    /*width: 27.5%;*/
}

#main .sidebar-left .left-content {
    display: table-cell;
    margin-right: 1em;
    padding-right: 1em;
    text-align: justify;
    overflow: hidden;
    /*text-align: right;*/
    /*position: relative;*/
    /*width: 27.5%;*/
}

#main .sidebar-left .right-content {
    display: table-cell;
    text-align: justify;
    overflow: hidden;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px dashed;
    /*position: relative;*/
    /*float: left;*/
    width: 75%;
}

#main .sidebar-right .right-content h1 {
    font-family: "Raleway";
}

#main .sidebar-right .right-content:before {
    border-left: 1px solid;
}

#main .sidebar-right .right-content h2 {
    font-family: "Raleway";
    font-size: 14pt;
    margin-left: 1em;
}

#main .sidebar-right .right-content h3 {
    font-family: "Raleway";
    font-size: 12pt;
    margin-left: 2em;
}

#main .sidebar-left .left-content h1 {
    font-family: "Raleway";
}

#main .sidebar-left .left-content:before {
    border-left: 1px solid;
}

#main .sidebar-left .left-content h2 {
    font-family: "Raleway";
    font-size: 14pt;
    margin-left: 1em;
}

#main .sidebar-left .left-content h3 {
    font-family: "Raleway";
    font-size: 12pt;
    margin-left: 2em;
}


/*********************************************************************************/


/* Logo                                                                          */


/*********************************************************************************/

#homepage-banner #voronoi-graph {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 570px;
    z-index: 0;
}

#homepage-banner .row {
    margin: auto;
    min-width: 500px;
    position: relative;
    z-index: 1;
    padding-top: 4em;
    padding-bottom: 3em;
    background-color: #FFF;

    width: 35%;
    margin-left: 33.3333%;
    text-align: center;
    margin: auto;
}

#homepage-banner h1 {
    font-size: 2.5em;
    font-family: 'Vidaloka', serif;
    font-weight: 400;
    color: #000;
}

#homepage-banner h2 {
    display: block;
    text-decoration: none;
    font-weight: 200;
    line-height: 1em;
    font-size: 5em;
    color: #222;
    letter-spacing: -0.05em;
    margin: 0 0 0.125em 0;
}

#homepage-banner h3 {
    display: block;
    text-decoration: none;
    font-weight: 100;
    font-size: 16pt;
    color: #222;
    margin: 0 0 0.125em 0;
}

#homepage-banner a {
    font-size: 120%;
    text-decoration: none;
    margin: 0 0 0.125em 0;
}

#homepage-banner span {
    font-size: 1.4em;
    color: #222;
}


/*********************************************************************************/


/* Nav                                                                          */


/*********************************************************************************/

#homepage-banner nav {
    z-index: 1;
    position: absolute;
    padding-bottom: 1em;
    background-color: #FFF;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 100%;
}

#homepage-banner .nav {
    position: absolute;
    padding-bottom: 1em;
    background-color: #FFF;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    right: 0;
    /*top: 0.5em;*/
    cursor: default;
}

.nav>ul {
    display: inline-block;
}

.nav>ul>li {
    margin: 0 0.25em !important;
    display: inline-block;
    text-align: center;
    margin-left: 0.5em;
}


/*
.nav>ul>li>ul:hover {
    display: block;
}*/


/*.nav>ul>li:first-child {
    margin-left: 0;
}*/

.nav>ul>li>a, .nav>ul>li>span {
    /*padding: 0.5em 1.5em 0.5em 1.5em;*/
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
    display: block;
    padding: 0.65em 1.25em;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    outline: 0;
    color: #555;
    border-radius: 5px;
}

.nav>ul>li:hover>a, .nav>ul>li:hover>span {
    background: #E5E5E5;
}

.nav>ul>li.active>a, .nav>ul>li.active>span {
    background: #E5E5E5;
}

.nav>ul>li.current_page_item>a, .nav>ul>li.current_page_item>span {
    background: #555;
    color: #FFF;
    font-weight: 600;
}


/*********************************************************************************/


/* Featured                                                                      */


/*********************************************************************************/

#featured {
    position: relative;
    text-align: center;
    color: #555;
    padding: 2em 0 0 0;
    margin: 2em 0 1em 0;
}

#featured h1 {
    color: #333;
    display: block;
    font-size: 2.5em;
}

#featured h3 {
    display: block;
    font-weight: 300;
}

#featured .pennant {
    font-size: 4em;
}

#featured .button {
    margin-top: 1.5em;
}


/*********************************************************************************/


/* Footer                                                                      */


/*********************************************************************************/

#footer {
    border-top: solid 2px #ddd;
    padding: 2em 0 0 0;
    margin: 6em 0 4em 0;
    font-size: 1em;
    color: #888;
    text-align: center;
}

#footer:after {
    padding-bottom: 6em;
}

#footer h1, h2 {
    overflow: hidden;
    text-align: center;
    color: #666;
    display: block;
    font-size: 2em;
}

#footer h1 {
    font-weight: 600;
}

#footer h2 {
    font-weight: 400;
}

#copyright {
    text-align: center;
    color: #aaa;
    border-top: 2px solid #e5e5e5;
}
