hr {
    border: 0;
    border-top: solid 2px #ddd;
    margin: 6em 0 0 0;
    padding: 6em 0 0 0;
}

body, input, textarea, select {
    font-family: 'Raleway', 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: 300;
    line-height: 1.75em;
    color: #777;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Vidaloka', serif;
}

p, ul, ol, dl, table {
    margin-bottom: 1em;
    color: #777;
}

header {
    margin-bottom: 1em;
}

hr {
    padding: 0 8em 0 8em;
}

.icon {
    text-decoration: none;
}

.icon:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 90%;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon>.label {
    display: none;
}

ul.contact {
    overflow: hidden;
    margin: 2em 0 1em 0;
    padding-top: 1em;
    text-align: center;
}

ul.contact li {
    display: inline-block;
    margin: 0 0.25em;
    font-size: 1.2em;
    text-align: center;
}

ul.contact p {
    margin: 0 0.25em;
    font-size: 0.8em;
}

ul.contact li span {
    display: none;
    margin: 0;
    padding: 0;
}

ul.contact li a {
    color: #FFF;
}

ul.contact li a:before {
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
    display: inline-block;
    background: #555;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    color: #FFFFFF;
}

ul.contact li a:hover:before {
    background: #777;
}

ul.contact li a:active:before {
    background: #444;
}

p, ul, ol, dl, table {
    margin-bottom: 1em;
}

header {
    margin-bottom: 1em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background: #555;
    border-radius: 8px;
    padding: 0 0 0 0;
    min-width: 14em;
    text-align: left;
    font-size: 0.8em;
    margin-left: -3.5em;
}

.dropdown-content a {
    -moz-transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    display: block;
    padding: 0.65em 1.25em;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    outline: 0;
    color: #DDD;
    border-radius: 5px;
    text-align: center;
    /*color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;*/
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #888
}

.image {
    display: block;
}

.image img {
    display: block;
    width: 100%;
}

.image.featured {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

.image.full {
    display: block;
    width: 100%;
    margin-bottom: 2em;
}

.image.square {
    display: block;
    width: 100%;
    margin-bottom: 2em;
}

.image.medium {
    margin: auto;
    width: 75%;
    text-align: center;
}

.image.small {
    margin: auto;
    width: 50%;
    text-align: center;
}

.image.circle {
    margin: auto;
    width: 100%;
    display: block;
    border-radius: 50%;
    margin-bottom: 2em;
}

.image.left {
    float: left;
    margin: 0 2em 2em 0;
}

.image.centered {
    display: block;
    margin: 0 0 2em 0;
}

.image.centered img {
    margin: 0 auto;
    width: auto;
}
