hr {
    border: 0;
    border-top: solid 2px #ddd;
    margin: 3em 0 1.5em 0;
    padding: 3em 0 1.5em 0;
}

body, input, textarea, select {
    font-family: 'Raleway', 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: 300;
    line-height: 1.75em;
    color: #777;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Vidaloka', serif;
}

p, ul, ol, dl {
    margin-bottom: 1em;
    color: #777;
}

a {
    text-decoration: underline;
}

hr {
    padding: 0 8em 0 8em;
}

blockquote {
    /*background: #f9f9f9;*/
    border-left: 5px solid #555;
    margin: 1.5em 10px 0 1.5em;
    padding: 0.5em 1.5em;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #555;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

.icon {
    text-decoration: none;
}

.icon:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 90%;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon>.label {
    display: none;
}

ul.contact {
    overflow: hidden;
    margin: 2em 0 1em 0;
    padding-top: 1em;
    text-align: center;
}

ul.contact li {
    display: inline-block;
    margin: 0 0.25em;
    font-size: 1.2em;
    text-align: center;
}

ul.contact p {
    margin: 0 0.25em;
    font-size: 0.8em;
}

ul.contact li span {
    display: none;
    margin: 0;
    padding: 0;
}

ul.contact li a {
    color: #FFF;
}

ul.contact li a:before {
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
    display: inline-block;
    background: #555;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    color: #FFFFFF;
}

ul.contact li a:hover:before {
    background: #777;
}

ul.contact li a:active:before {
    background: #444;
}

header {
    margin-bottom: 1em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background: #555;
    border-radius: 8px;
    padding: 0 0 0 0;
    min-width: 14em;
    text-align: left;
    font-size: 0.8em;
    margin-left: -3.5em;
}

.dropdown-content a {
    -moz-transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    display: block;
    padding: 0.65em 1.25em;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    outline: 0;
    color: #DDD;
    border-radius: 5px;
    text-align: center;
    /*color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;*/
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #888
}

.image {
    display: block;
}

.image img {
    display: block;
    width: 100%;
}

.image.featured {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

.image.full {
    display: block;
    width: 100%;
    margin-bottom: 2em;
}

.image.square {
    display: block;
    width: 100%;
    margin-bottom: 2em;
}

.image.medium {
    margin: auto;
    width: 75%;
    text-align: center;
}

.image.small {
    margin: auto;
    width: 50%;
    text-align: center;
}

.image.circle {
    margin: auto;
    width: 100%;
    display: block;
    border-radius: 50%;
    margin-bottom: 2em;
}

.image.left {
    float: left;
    margin: 0 2em 2em 0;
}

.image.centered {
    display: block;
    margin: 0 0 2em 0;
}

.image.centered img {
    margin: 0 auto;
    width: auto;
}

.image.caption {
    padding-top: -2em;
    margin-top: -2.75em;
    text-align: center;
    font-size: .8rem;
    color: light-grey;
}

.image.avatar {
    width: 150px;
    vertical-align: bottom;
}

.tags-list {
    display: table-row;
    font-size: 11pt;
}

.tags-list>li {
    display: table-cell;
    padding: 0 5pt 5pt 0;
    padding-top: -1em;
}

.tag-button {
    border: 2px solid;
    padding: 5pt;
    margin: 1pt;
    color: #57a;
    border-radius: 4pt;
}

.author {
    margin-top: 0 !important;
    margin-bottom: 0.5em;
    font-size: 1.2em !important;
    color: #888 !important;
    padding-top: -1em;
}

#post-footer::before{
    display: block;
    margin-top: 1em;
    padding: 1em;
}
#post-footer {
    /*padding-top: 1em;*/
    /*margin-top: 1em;*/
    width: 100%;
    display: table-row;
}

#post-footer>* {
    display: table-cell;
}

.post-footer-avatar {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    vertical-align: middle;
    text-align: center;
    min-width: 120px;
    min-height: 120px;
    height: 120px;
    width: 120px;
    margin: 0 auto 0 auto;
}

.post-footer-summary {
    vertical-align: top;
    width: 30%;
    min-width: 230px;
    /*float: left;*/
    padding: 1.2em 5px 0 5px;
    margin: 0 auto 0 auto;
}

#post-footer h2 {
    margin-top: 0;
    font-size: 20pt;
    color: #404040 !important;
    font-weight: 800 !important;
    margin-bottom: 0.4em;
}

#post-footer h3 {
    font-size: 90%;
}

#post-footer p {
    padding: 0;
    margin: 0;
    line-height: 1.2em;
    font-size: 90%;
}

.post-footer-headline {
    vertical-align: top;
    min-width: 380px;
    width: 60%;
    margin: 0 auto 0 auto;
    padding: 1.2em 5px 0 5px;
}
