
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,900");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Vidaloka');

/*Focal Point by Pixelaritypixelarity.com | hello@pixelarity.comLicense: pixelarity.com/license*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #fff url("assets/css/images/bg01.png") repeat;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    /*color: #595959;*/
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

strong,
b {
    font-weight: 600;
}

em,
i {
    font-style: italic;
}

form input.text,
form select,
form textarea {
    -webkit-appearance: none;
}

br.clear {
    clear: both;
}

h1,
h2,
h3 {
    font-weight: 900;
    color: #EEE;
    /*text-transform: uppercase;*/
}

h2 {
    font-size: 1.40em;
}

p,
ul,
ol,
dl,
table {
    margin-bottom: 1em;
}

p {
    line-height: 2em;
}

section,
article {
    margin-bottom: 4em;
}

section> :last-child,
section:last-child,
article> :last-child,
article:last-child {
    margin-bottom: 0;
}

header {
    margin-bottom: 2em;
}

header .byline {
    display: block;
    font-size: 1.2em;
    margin: 1em 0 0 0;
    padding-bottom: 0.5em;
}

footer {
    margin-top: 2em;
}

.centered {
    text-align: center;
}

.image {
    display: inline-block;
    border-radius: 5px;
}

.image img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

.image.fit {
    display: block;
    width: 100%;
}

.image.featured {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

.image.left {
    float: left;
    margin: 0 2em 2em 0;
}

.image.centered {
    display: block;
    margin: 0 0 2em 0;
}

.image.centered img {
    margin: 0 auto;
    width: auto;
}

.button {
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
    display: inline-block;
    background: #df6267;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
}

.button:hover {
    background: #ef7277;
}

.button:active {
    background: #cf5257;
}

ul.style1 li {
    border-top: solid 1px #e5e5e5;
    padding: 1em 0 1em 0;
}

ul.style1 li:first-child {
    border-top: 0;
    padding-top: 0;
}

ul.style1 a {
    color: #595959;
}

ul.style1 a:hover {
    text-decoration: none;
}

ul.menu {
    overflow: hidden;
    margin-top: 3em;
    text-align: center;
}

ul.menu li {
    display: inline-block;
}

ul.menu a {
    display: block;
    padding: 0.70em 1.5em;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    outline: 0;
    color: #595959;
}

ul.menu .active a {
    background: #3f3f3f;
    border-radius: 5px;
    color: #FFF;
}

ul.contact {
    overflow: hidden;
    margin: 2em 0 1em 0;
    padding-top: 1em;
    text-align: center;
}

ul.contact li {
    display: inline-block;
    margin: 0 0.25em;
    font-size: 1.2em;
    text-align: center;
}
ul.contact p {
    margin: 0 0.25em;
    font-size: 0.8em;
}

ul.contact li span {
    display: none;
    margin: 0;
    padding: 0;
}

ul.contact li a {
    color: #FFF;
}

ul.contact li a:before {
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
    display: inline-block;
    background: #555;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    color: #FFFFFF;
}

ul.contact li a:hover:before {
    background: #777;
}

ul.contact li a:active:before {
    background: #444;
}

.icon {
    text-decoration: none;
}

.icon:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.25em;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon>.label {
    display: none;
}

.wrapper {
    position: relative;
    border-bottom: 2px solid #e5e5e5;
}

.wrapper:last-child {
    border-bottom: 0;
}

#logo {
    display: inline-block;
    text-decoration: none;
}

#logo .pennant {
    text-align: center;
}

#logo .pennant span {
    position: relative;
    display: inline-block;
    background: #df6267;
    color: #FFF;
    width: 3em;
    height: 3em;
    line-height: 3.2em;
    border-radius: 100%;
}

#logo h1 {
    font-family: 'Vidaloka', serif;
    font-weight: 900;
    color: #000;
}

#banner,
#footer {
    overflow: hidden;
    text-align: center;
}

#copyright {
    text-align: center;
    color: #aaa;
    border-top: 2px solid #e5e5e5;
}

#portfolio {
    margin-top: 3em;
}

#portfolio .titles {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    text-align: center;
    margin-bottom: 3em;
}

#portfolio .titles li {
    display: inline-block;
    padding: 0.65em 1.25em;
    text-decoration: none;
    font-size: 1em;
    outline: 0;
}

#portfolio .titles li.active {
    background: #555;
    border-radius: 5px;
    color: #FFF;
    font-weight: 600;
}

#portfolio .panel {
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    opacity: 0;
}

#portfolio .panel.active {
    opacity: 1;
}

#portfolio-preview {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.poptrox-popup {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    background: #fff;
}

.poptrox-popup .loader {
    text-indent: -9999px;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -24px;
    margin-top: -24px;
    background: url("assets/css/images/loader.gif");
}

#highlights {
    text-align: center;
}

@media screen and (min-width: 737px) {
    body {
        font-size: 14pt;
    }
    h2 {
        letter-spacing: 0.05em;
    }
    .button {
        padding: 0.85em 2em;
        min-width: 14em;
    }
    #header-wrapper {
        padding: 3em 0 0 0;
    }
    .homepage #header-wrapper {
        padding: 12em 0 2em 0;
    }
    .wrapper {
        padding: 6em 0 6em 0;
    }
    #header {
        position: relative;
        padding: 0 0 3em 0;
    }
    .homepage #header {
        position: static;
        text-align: center;
    }
    #logo .pennant {
        font-size: 1.25em;
        margin-right: 0.75em;
    }
    #logo h1 {
        letter-spacing: 0.1em;
        font-size: 1.75em;
        display: inline-block;
    }
    .homepage #logo {
        text-align: center;
    }
    .homepage #logo .pennant {
        display: block;
        margin: 0 0 1em 0;
        font-size: 2.5em;
    }
    .homepage #logo h1 {
        display: block;
        font-size: 2.5em;
    }
    #nav {
        position: absolute;
        right: 0;
        top: 0.5em;
        cursor: default;
    }
    #nav>ul {
        display: inline-block;
    }
    #nav>ul>li {
        display: inline-block;
        text-align: center;
        margin-left: 0.5em;
    }
    #nav>ul>li>ul {
        display: none;
    }
    #nav>ul>li:first-child {
        margin-left: 0;
    }
    #nav>ul>li>a,
    #nav>ul>li>span {
        -moz-transition: background-color 0.25s ease-in-out;
        -webkit-transition: background-color 0.25s ease-in-out;
        -ms-transition: background-color 0.25s ease-in-out;
        transition: background-color 0.25s ease-in-out;
        display: block;
        padding: 0.65em 1.25em;
        text-decoration: none;
        font-size: 1em;
        font-weight: 400;
        outline: 0;
        color: #555;
        border-radius: 5px;
    }
    #nav>ul>li:hover>a,
    #nav>ul>li:hover>span {
        background: #E5E5E5;
    }
    #nav>ul>li.active>a,
    #nav>ul>li.active>span {
        background: #E5E5E5;
    }
    #nav>ul>li.current_page_item>a,
    #nav>ul>li.current_page_item>span {
        background: #555;
        color: #FFF;
        font-weight: 600;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;

        background: #555;
        border-radius: 8px;
        padding: 1.25em 0 1.1em 0;
        min-width: 14em;
        text-align: left;
        font-size: 0.8em;
        /*margin-top: 1.5em;*/
    }

    .dropdown:hover .dropdown-content {
        display: block;
        color: #fff;
    }
    .dropdown:before {
        content: '';
        display: block;
        border-bottom: solid 1em #555;
        border-left: solid 1em transparent;
        border-right: solid 1em transparent;
        position: absolute;
        top: -0.85em;
        left: 50%;
        margin-left: -1em;
    }
    .dropdown a,
    .dropdown span {
        -moz-transition: color 0.25s ease-in-out;
        -webkit-transition: color 0.25s ease-in-out;
        -ms-transition: color 0.25s ease-in-out;
        transition: color 0.25s ease-in-out;
        display: block;
        padding: 0.75em 1.5em 0.75em 1.5em;
        color: #ccc;
        text-decoration: none;
        /*border-top: solid 1px #666;*/
    }

    .homepage #nav {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .homepage #nav>ul>li {
        margin: 0 0.25em !important;
    }
    .homepage #nav>ul>li>a,
    .homepage #nav>ul>li>span {
        padding: 1em 1.5em;
        font-size: 1em;
        border-radius: 0 0 5px 5px;
    }
    .dropdown a,
    .dropdown span {
        -moz-transition: color 0.25s ease-in-out;
        -webkit-transition: color 0.25s ease-in-out;
        -ms-transition: color 0.25s ease-in-out;
        transition: color 0.25s ease-in-out;
        display: block;
        padding: 0.75em 1.5em 0.75em 1.5em;
        color: #ccc;
        text-decoration: none;
        border-top: solid 1px #666;
    }
    .dropdown li:hover>a,
    .dropdown li:hover>span {
        color: #fff;
    }
    li:hover > ul {
    display: block;
    opacity: 0;
    z-index: 98;
    position: absolute;
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -moz-animation: fadein 2s; /* Firefox */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera */
    animation: fadein 2s;
}
    .dropdown li:first-child>a,
    .dropdown li:first-child>span {
        border-top: 0;
    }
    .dropdown.level-0 {
        font-size: 0.8em;
        margin-top: 1.5em;
    }
    .dropdown.level-0:before {
        content: '';
        display: block;
        border-bottom: solid 1em #555;
        border-left: solid 1em transparent;
        border-right: solid 1em transparent;
        position: absolute;
        top: -0.85em;
        left: 50%;
        margin-left: -1em;
    }
    #banner {
        padding: 0 7em 0 7em;
    }
    #banner h2 {
        margin-bottom: 1.5em;
        font-size: 1.5em;
    }
    #banner p {
        font-size: 1.1em;
        margin: 0;
    }
    .no-sidebar #content header {
        text-align: center;
    }
    #content header h2 {
        font-size: 1.6em;
    }
    #content header .byline {
        font-size: 1.20em !important;
    }
    #content h3 {
        margin: 3em 0em 1.5em 0em;
        font-size: 1.4em;
    }
    #content .image-full {
        margin-bottom: 2em;
    }
    #portfolio-preview .content {
        padding: 0em 4em 3em 4em;
    }
    #portfolio-preview header {
        margin: 0 0 1.5em 0;
    }
    #portfolio-preview header h2 {
        display: block;
        font-size: 1.4em;
        text-align: left;
    }
    #portfolio-preview header .byline {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.3em;
        padding: 0;
        margin: 0;
    }
    .poptrox-popup {
        padding: 0.5em;
        background: #fff;
        border-radius: 5px;
    }
    .poptrox-popup .closer,
    .poptrox-popup .nav-next,
    .poptrox-popup .nav-previous {
        display: inline-block;
        font-family: FontAwesome;
        font-size: 1.25em;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #fff;
    }
    .poptrox-popup .closer {
        width: 2em;
        height: 2em;
        line-height: 1.85em;
        font-size: 1em;
        text-align: center;
        border-radius: 100%;
        border: solid 2px #fff;
        position: absolute;
        top: -2.25em;
        right: -2.25em;
    }
    .poptrox-popup .closer:before {
        content: '\f00d';
    }
    .poptrox-popup .nav-next,
    .poptrox-popup .nav-previous {
        -moz-transition: opacity 0.25s ease-in-out;
        -webkit-transition: opacity 0.25s ease-in-out;
        -ms-transition: opacity 0.25s ease-in-out;
        transition: opacity 0.25s ease-in-out;
        position: absolute;
        top: 0;
        height: 100%;
        width: 50%;
        cursor: pointer;
        opacity: 0;
        font-size: 2em;
    }
    .poptrox-popup .nav-next:before,
    .poptrox-popup .nav-previous:before {
        position: absolute;
        top: 50%;
        width: 3em;
        height: 3em;
        line-height: 3em;
        margin-top: -1.5em;
        text-align: center;
    }
    .poptrox-popup .nav-next:hover,
    .poptrox-popup .nav-previous:hover {
        opacity: 1.0;
    }
    .poptrox-popup:hover .nav-next,
    .poptrox-popup:hover .nav-previous {
        opacity: 0.25;
    }
    .poptrox-popup .nav-next {
        right: 0;
    }
    .poptrox-popup .nav-next:before {
        content: '\f054';
        right: 0;
    }
    .poptrox-popup .nav-previous {
        left: 0;
    }
    .poptrox-popup .nav-previous:before {
        content: '\f053';
        left: 0;
    }
    #copyright {
        padding: 5em 0em;
    }
}

@media screen and (min-width: 737px) and (max-width: 1200px) {
    body {
        min-width: 1000px;
    }
    #header-wrapper {
        padding: 7em 0 0 0;
    }
    .homepage #header-wrapper {
        padding: 8em 0 0 0;
    }
    .wrapper {
        padding: 4em 0 4em 0;
    }
    #header {
        position: static;
    }
    #logo {
        text-align: center;
    }
    #nav {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        min-width: 960px;
    }
    #nav>ul>li>a,
    #nav>ul>li>span {
        padding: 1.1em 1.5em !important;
        font-size: 1em;
    }
    #nav .current_page_item>a {
        background: #3f3f3f;
        border-radius: 0px 0px 5px 5px;
        color: #FFF;
    }

    .dropdown {
    position: relative;
    display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

#navPanel,
#titleBar {
    display: none;
}

@media screen and (max-width: 736px) {
    html,
    body {
        overflow-x: hidden;
    }
    body {
        line-height: 1.75em;
        font-size: 11pt;
    }
    header,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: center;
    }
    p {
        text-align: justify;
    }
    h2 {
        font-size: 1.2em;
        line-height: 1.5em;
    }
    section,
    article {
        clear: both;
        margin: 3em 0 3em 0 !important;
    }
    section> :first-child,
    section:first-child,
    article> :first-child,
    article:first-child {
        margin-top: 0 !important;
    }
    section:last-child,
    article:last-child {
        margin-bottom: 0 !important;
    }
    .button {
        display: block;
        padding: 0 1em;
        line-height: 3em;
        text-align: center;
    }
    ul.menu li {
        display: block;
        margin-bottom: 5px;
    }
    ul.contact li {
        margin: 0 0.15em;
    }
    ul.contact li a:before {
        width: 2em;
        height: 2em;
        line-height: 2em;
    }
    #portfolio .titles li {
        display: block;
    }
    #page-wrapper {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        padding-bottom: 1px;
    }
    #titleBar {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        height: 44px;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10001;
        background: none;
    }
    #titleBar .toggle {
        position: absolute;
        top: 0;
        left: 0;
        text-indent: -999px;
        width: 60px;
        height: 44px;
    }
    #titleBar .toggle:before {
        -moz-transition: all 0.15s ease-in-out;
        -webkit-transition: all 0.15s ease-in-out;
        -ms-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out;
        content: '';
        position: absolute;
        top: 6px;
        left: 6px;
        display: block;
        width: 54px;
        height: 38px;
        background-color: rgba(92, 95, 103, 0.5);
        border-radius: 0.25em;
    }
    #titleBar .toggle:after {
        content: '';
        display: block;
        width: 44px;
        height: 44px;
        position: absolute;
        left: 15px;
        top: 6px;
        background: url("assets/css/images/toggle.svg") 8px 14px no-repeat;
        opacity: 0.5;
    }
    #titleBar .toggle:active:before {
        background-color: rgba(92, 95, 103, 0.75);
    }
    #navPanel {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transform: translateX(-275px);
        -webkit-transform: translateX(-275px);
        -ms-transform: translateX(-275px);
        transform: translateX(-275px);
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        height: 100%;
        left: 0;
        overflow-y: auto;
        position: fixed;
        top: 0;
        width: 275px;
        z-index: 10002;
        background: #444 url("assets/css/images/overlay.png");
        box-shadow: inset -3px 0px 4px 0px rgba(0, 0, 0, 0.1);
    }
    #navPanel .link {
        display: block;
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
        font-size: 1em;
        text-decoration: none;
        height: 44px;
        line-height: 44px;
        border-top: solid 1px rgba(255, 255, 255, 0.05);
        margin: 0 15px 0 15px;
    }
    #navPanel .link:first-child {
        border-top: 0;
    }
    #navPanel .indent-1 {
        display: inline-block;
        width: 1em;
    }
    #navPanel .indent-2 {
        display: inline-block;
        width: 2em;
    }
    #navPanel .indent-3 {
        display: inline-block;
        width: 3em;
    }
    #navPanel .indent-4 {
        display: inline-block;
        width: 4em;
    }
    #navPanel .indent-5 {
        display: inline-block;
        width: 5em;
    }
    #navPanel .depth-0 {
        color: #fff;
    }
    body.navPanel-visible #page-wrapper {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px);
    }
    body.navPanel-visible #titleBar {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px);
    }
    body.navPanel-visible #navPanel {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    .wrapper {
        margin: 0 15px 0 15px;
        padding: 4em 0 4em 0;
    }
    #header-wrapper {
        padding: 3em 0;
    }
    #header {
        position: relative;
        text-align: center;
    }
    #logo {
        text-align: center;
        padding: 0 1em;
        display: block;
    }
    #logo .pennant {
        font-size: 1.25em;
        display: block;
        margin: 0 0 1em 0;
    }
    #logo h1 {
        font-family: 'Vidaloka', serif;
        display: block;
        letter-spacing: 0.1em;
        font-size: 1.75em;
        line-height: 1.25em;
    }
    #nav {
        display: none;
    }
    #banner {
        overflow: hidden;
        text-align: center;
        padding: 0 2em 0 2em;
    }
    #banner h2 {
        margin-bottom: 1.5em;
        font-size: 1.5em;
    }
    #banner p {
        font-size: 1.1em;
        text-align: center;
    }
    #content header {
        margin-bottom: 1.5em;
    }
    #content header h2 {
        font-size: 1.4em;
    }
    #content header .byline {
        font-size: 1.20em !important;
    }
    #content h3 {
        margin: 3em 0em 1.5em 0em;
        font-size: 1.2em;
    }
    #content .image-full {
        margin-bottom: 2em;
    }
    #sidebar {
        padding-top: 2em;
    }
    #copyright {
        padding: 3em 2em 1.5em 2em;
    }
    #portfolio-preview {
        overflow: hidden;
    }
    #portfolio-preview header h2 {
        font-size: 1.6em;
    }
    #portfolio-preview .content {
        padding: 0em 1em 0em 1em;
    }
    #portfolio-preview article,
    #portfolio-preview section {
        margin-bottom: 15px !important;
    }
    #portfolio-preview header .byline {
        font-size: 1.2em;
    }
    .poptrox-popup {
        border: solid 3px #fff;
        border-radius: 5px;
    }
    .poptrox-popup .closer {
        display: none;
    }
    #highlights section {
        margin-top: 3em !important;
    }
    #highlights section.first {
        margin-top: 0 !important;
    }
}
