<html>

<head>
    <script src="/items/demos_assets/jquery.min.js"></script>
    <meta name="viewport" content="initial-scale=1">
    <meta name="viewport" content="user-scalable=yes,width=device-width,initial-scale=1">
    <script src="/items/demos_assets/jquery.dropotron.min.js"></script>
    <script src="/items/demos_assets/jquery.selectorr.min.js"></script>
    <script src="/items/demos_assets/jquery.poptrox.min.js"></script>
    <script src="/items/demos_assets/skel.min.js"></script>
    <script src="/items/demos_assets/skel-viewport.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="/items/demos_assets/respond.min.js"></script>

    <title>Untitled</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,900");
        @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css");
    </style>
    <link rel="stylesheet" href="../_assets/css/style.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body class="homepage">
    <div id="page-wrapper">
        <div class="container">
            <div id="header-wrapper" class="wrapper">
                <div id="header"><a href="javascript:window._pxOpen('index.html');" id="logo"><span class="pennant"><span class="icon fa-camera"></span></span><h1>Hi there. I'm Focal Point.</h1></a>
                    <nav id="nav">
                        <ul>
                            <li class="current_page_item" style="white-space: nowrap;"><a href="javascript:window._pxOpen('index.html');">Home</a></li>
                            <li class="opener" style="user-select: none; cursor: pointer; white-space: nowrap;"><a style="cursor: pointer;">Dropdown</a>
                                <ul style="user-select: none; display: none; position: absolute;" class="">
                                    <li style="white-space: nowrap;"><a style="display: block; cursor: pointer;">Lorem ipsum dolor</a></li>
                                    <li style="white-space: nowrap;"><a style="display: block; cursor: pointer;">Magna phasellus</a></li>
                                    <li style="white-space: nowrap;"><a style="display: block; cursor: pointer;">Etiam dolore nisl</a></li>
                                    <li class="opener" style="user-select: none; cursor: pointer; white-space: nowrap;"><a style="display: block; cursor: pointer;">Phasellus consequat</a>
                                        <ul style="user-select: none; display: none; position: absolute;" class="dropotron">
                                            <li style="white-space: nowrap;"><a style="display: block; cursor: pointer;">Lorem ipsum dolor</a></li>
                                            <li style="white-space: nowrap;"><a style="display: block; cursor: pointer;">Phasellus consequat</a></li>
                                            <li style="white-space: nowrap;"><a style="display: block; cursor: pointer;">Magna phasellus</a></li>
                                            <li style="white-space: nowrap;"><a style="display: block; cursor: pointer;">Etiam dolore nisl</a></li>
                                            <li style="white-space: nowrap;"><a style="display: block; cursor: pointer;">Veroeros feugiat</a></li>
                                        </ul>
                                    </li>
                                    <li style="white-space: nowrap;"><a style="display: block; cursor: pointer;">Veroeros feugiat</a></li>
                                </ul>
                            </li>
                            <li style="white-space: nowrap;"><a href="javascript:window._pxOpen('portfolio.html');">Portfolio</a></li>
                            <li style="white-space: nowrap;"><a href="javascript:window._pxOpen('left-sidebar.html');">Left</a></li>
                            <li style="white-space: nowrap;"><a href="javascript:window._pxOpen('right-sidebar.html');">Right</a></li>
                            <li style="white-space: nowrap;"><a href="javascript:window._pxOpen('no-sidebar.html');">None</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="banner-wrapper" class="wrapper">
                <section id="banner">
                    <h2>Nulla facilisi integer lacinia turpis nullam</h2>
                    <p>Integer lacinia turpis egestas dui luctus sed lacinia diam sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi magna tempus lorem ipsum dolor sit amet senectus luctus lacinia
                        aliquam. </p>
                </section>
            </div>
            <div class="wrapper">
                <section id="portfolio-preview">
                    <header>
                        <h2>Our Work</h2><span class="byline">Senectus netus turpis egestas</span></header>
                    <div class="row">
                        <div class="4u 12u(mobile)">
                            <a class="image fit" style="cursor: pointer; outline: 0px;"><img src="images/portfolio/thumbnails/pic01.jpg" alt=""></a>
                        </div>
                        <div class="4u 12u(mobile)">
                            <a class="image fit" style="cursor: pointer; outline: 0px;"><img src="images/portfolio/thumbnails/pic02.jpg" alt=""></a>
                        </div>
                        <div class="4u 12u(mobile)">
                            <a class="image fit" style="cursor: pointer; outline: 0px;"><img src="images/portfolio/thumbnails/pic03.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="4u 12u(mobile)">
                            <a class="image fit" style="cursor: pointer; outline: 0px;"><img src="images/portfolio/thumbnails/pic04.jpg" alt=""></a>
                        </div>
                        <div class="4u 12u(mobile)">
                            <a class="image fit" style="cursor: pointer; outline: 0px;"><img src="images/portfolio/thumbnails/pic05.jpg" alt=""></a>
                        </div>
                        <div class="4u 12u(mobile)">
                            <a class="image fit" style="cursor: pointer; outline: 0px;"><img src="images/portfolio/thumbnails/pic06.jpg" alt=""></a>
                        </div>
                    </div>
                    <footer><a class="button button-alt" style="cursor: pointer;">Full Portfolio</a></footer>
                </section>
            </div>
            <div class="wrapper">
                <div id="highlights">
                    <div class="row">
                        <div class="6u 12u(mobile)">
                            <section class="first">
                                <header>
                                    <h2>Magna Feugiat Lorem</h2><span class="byline">Sed tempus lorem etiam turpis egestas</span></header>
                                <p>Lorem ipsum Integer lacinia turpis egestas dui luctus sed lacinia diam sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames.turpis egestas dui luctus sed lacinia diam sollicitudin lorem
                                    sed habitant morbi.</p>
                                <footer><a class="button" style="cursor: pointer;">Learn More</a></footer>
                            </section>
                        </div>
                        <div class="6u 12u(mobile)">
                            <section>
                                <header>
                                    <h2>Lectus dui habitant</h2><span class="byline">Sed tempus lorem etiam turpis egestas</span></header>
                                <p>Lorem ipsum Integer lacinia turpis egestas dui luctus sed lacinia diam sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames.turpis egestas dui luctus sed lacinia diam sollicitudin lorem
                                    sed habitant morbi.</p>
                                <footer><a class="button" style="cursor: pointer;">Learn More</a></footer>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer-wrapper" class="wrapper">
                <section id="footer">
                    <header>
                        <h2>Magna Feugiat Lorem</h2></header>
                    <p>Lorem ipsum Integer lacinia turpis egestas dui luctus sed lacinia diam sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames turpis egestas dui luctus sed magna tempus.</p>
                    <ul class="contact">
                        <li><a class="icon fa-twitter" style="cursor: pointer;"><span>Twitter</span></a></li>
                        <li><a class="icon fa-facebook" style="cursor: pointer;"><span>Facebook</span></a></li>
                        <li><a class="icon fa-instagram" style="cursor: pointer;"><span>Instagram</span></a></li>
                        <li><a class="icon fa-pinterest" style="cursor: pointer;"><span>Pinterest</span></a></li>
                        <li><a class="icon fa-envelope" style="cursor: pointer;"><span>Email</span></a></li>
                    </ul>
                </section>
                <div id="copyright"> © Untitled. All rights reserved. </div>
            </div>
        </div>
    </div>
    <!--[if lte IE 8]><![endif]-->
    <script>
        (function($) {
            skel.breakpoints({
                desktop: '(min-width: 737px)',
                tablet: '(min-width: 737px) and (max-width: 1200px)',
                mobile: '(max-width: 736px)'
            }).viewport({
                breakpoints: {
                    tablet: {
                        width: 1080
                    }
                }
            });
            $(function() {
                var $window = $(window),
                    $body = $('body');
                $('form').placeholder();
                skel.on('+mobile -mobile', function() {
                    $.prioritize('.important\\28 mobile\\29', skel.breakpoint('mobile').active);
                });
                $('#nav > ul').dropotron({
                    offsetY: -18,
                    offsetX: -1,
                    mode: 'fade',
                    noOpenerFade: true,
                    speed: 300,
                    alignment: 'center'
                });
                $('<div id="titleBar">' + '<a href="#navPanel" class="toggle"></a>' + '</div>').appendTo($body);
                $('<div id="navPanel">' + '<nav>' + $('#nav').navList() + '</nav>' + '</div>').appendTo($body).panel({
                    delay: 500,
                    hideOnClick: true,
                    hideOnSwipe: true,
                    resetScroll: true,
                    resetForms: true,
                    side: 'left',
                    target: $body,
                    visibleClass: 'navPanel-visible'
                });
                if (skel.vars.os == 'wp' && skel.vars.osVersion < 10) $('#titleBar, #navPanel, #page-wrapper').css('transition', 'none');
                var poptroxSettings;
                if (skel.breakpoint('mobile').active) poptroxSettings = {
                    selector: 'a.image',
                    baseZIndex: 100000,
                    overlayClass: 'poptrox-overlay skel-layers-fixed',
                    usePopupDefaultStyling: false,
                    overlayColor: '#222',
                    overlayOpacity: 0.8,
                    windowMargin: 10,
                    useBodyOverflow: false,
                    usePopupNav: false,
                    usePopupEasyClose: true,
                    usePopupCloser: false
                };
                else poptroxSettings = {
                    selector: 'a.image',
                    baseZIndex: 100000,
                    overlayClass: 'poptrox-overlay skel-layers-fixed',
                    usePopupDefaultStyling: false,
                    overlayColor: '#222',
                    overlayOpacity: 0.8,
                    windowMargin: 30,
                    useBodyOverflow: false,
                    usePopupNav: true,
                    usePopupEasyClose: false,
                    popupCloserText: ''
                };
                var $portfolio = $('#portfolio');
                if ($portfolio.length > 0) {
                    $portfolio.poptrox(poptroxSettings).selectorr({
                        titleSelector: 'h3',
                        delay: 250
                    });
                }
                var $portfolioPreview = $('#portfolio-preview');
                if ($portfolioPreview.length > 0) $portfolioPreview.poptrox(poptroxSettings);
            });
        })(jQuery);
    </script>
    <ul style="user-select: none; display: none; position: absolute; z-index: 1000;" class="dropotron level-0">
        <li style="white-space: nowrap;"><a style="display: block; cursor: pointer;">Lorem ipsum dolor</a></li>
        <li style="white-space: nowrap;"><a style="display: block; cursor: pointer;">Magna phasellus</a></li>
        <li style="white-space: nowrap;"><a style="display: block; cursor: pointer;">Etiam dolore nisl</a></li>
        <li class="opener" style="user-select: none; cursor: pointer; white-space: nowrap;"><a style="display: block; cursor: pointer;">Phasellus consequat</a>
            <ul style="user-select: none; display: none; position: absolute; z-index: 1001;" class="dropotron level-1">
                <li style="white-space: nowrap;"><a style="display: block; cursor: pointer;">Lorem ipsum dolor</a></li>
                <li style="white-space: nowrap;"><a style="display: block; cursor: pointer;">Phasellus consequat</a></li>
                <li style="white-space: nowrap;"><a style="display: block; cursor: pointer;">Magna phasellus</a></li>
                <li style="white-space: nowrap;"><a style="display: block; cursor: pointer;">Etiam dolore nisl</a></li>
                <li style="white-space: nowrap;"><a style="display: block; cursor: pointer;">Veroeros feugiat</a></li>
            </ul>
        </li>
        <li style="white-space: nowrap;"><a style="display: block; cursor: pointer;">Veroeros feugiat</a></li>
    </ul>
    <div id="titleBar">
        <a href="#navPanel" class="toggle"></a>
    </div>
    <div id="navPanel">
        <nav><a class="link depth-0" href="javascript:window._pxOpen('index.html');" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-0"></span>Home</a>
            <a class="link depth-0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: pointer;"><span class="indent-0"></span>Dropdown</a><a class="link depth-1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: pointer;"><span class="indent-1"></span>Lorem ipsum dolor</a>
            <a class="link depth-1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: pointer;"><span class="indent-1"></span>Magna phasellus</a><a class="link depth-1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: pointer;"><span class="indent-1"></span>Etiam dolore nisl</a>
            <a class="link depth-1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: pointer;"><span class="indent-1"></span>Phasellus consequat</a><a class="link depth-2" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: pointer;"><span class="indent-2"></span>Lorem ipsum dolor</a>
            <a class="link depth-2" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: pointer;"><span class="indent-2"></span>Phasellus consequat</a><a class="link depth-2" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: pointer;"><span class="indent-2"></span>Magna phasellus</a>
            <a class="link depth-2" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: pointer;"><span class="indent-2"></span>Etiam dolore nisl</a><a class="link depth-2" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: pointer;"><span class="indent-2"></span>Veroeros feugiat</a>
            <a class="link depth-1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: pointer;"><span class="indent-1"></span>Veroeros feugiat</a><a class="link depth-0" href="javascript:window._pxOpen('portfolio.html');" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-0"></span>Portfolio</a><a class="link depth-0"
                href="javascript:window._pxOpen('left-sidebar.html');" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-0"></span>Left</a>
            <a class="link depth-0" href="javascript:window._pxOpen('right-sidebar.html');" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-0"></span>Right</a><a class="link depth-0" href="javascript:window._pxOpen('no-sidebar.html');" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-0"></span>None</a></nav>
    </div>
    <div class="poptrox-overlay skel-layers-fixed" style="position: fixed; left: 0px; top: 0px; z-index: 100000; width: 100%; height: 100%; text-align: center; cursor: pointer; display: none;">
        <div style="display:inline-block;height:100%;vertical-align:middle;"></div>
        <div style="position:absolute;left:0;top:0;width:100%;height:100%;background:#222;opacity:0.8;filter:alpha(opacity=80);"></div>
        <div class="poptrox-popup" style="display: none; vertical-align: middle; position: relative; z-index: 1; cursor: auto; min-width: 200px; min-height: 100px;">
            <div class="loader" style="display: none;">••••</div>
            <div class="pic" style="display: none;"></div><span class="closer" style="cursor: pointer; display: none;"></span>
            <div class="nav-previous" style="display: none;"></div>
            <div class="nav-next" style="display: none;"></div>
        </div>
    </div>
</body>

</html>
