<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    <div id="banner-common">
        <div id="common">
            <div id="voronoi-graph"></div>
            <script src="https://d3js.org/d3.v4.min.js"></script>
            <script src="{{site.baseurl}}/assets/js/voronoi.js"></script>
            {% include banner.html %}
        </div>
    </div>

    <div id="main">
        <div class="container">
            <section>
                <header>
                    <h1> {{page.title}} </h1>
                </header>

                {{ content }}

            </section>
        </div>

    </div>

    {% include footer.html %}
</body>

</html>
